<div id="formulario-crear-noticia">
    <form>
        <div class="mb-3">
            <label for="titulo_noticia" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo_noticia">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>