<div id="formulario-crear-noticia">
    <form name="noticia" action="/noticias/crear" method="POST">
        <div class="mb-3">
            <label for="titulo_noticia" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="titulo_noticia">
        </div>
        <div class="mb-3">
            <label for="desc_noticia" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="desc_noticia">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>