<div id="formulario-crear-noticia">


    <form name="noticia" action="/noticias/editar/<%= noticia.id %>" method="POST">
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="titulo" value="<%= noticia.titulo %>">
        </div>
        <div class="mb-3">
            <label for="contenido" class="form-label">Descripcion</label>
            <textarea type="text" class="form-control" name="contenido"><%=noticia.contenido %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>