<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Noticias APP 📒</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <% if (usuario.id) { %>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/noticias">🏠 Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            📃 Noticias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/noticias/listado">Listado</a></li>
                            <li><a class="dropdown-item" href="/noticias/crear">Crear</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center" href="/usuarios/listado"><i
                                        class="d-inline-block text-primary p-1 bi bi-people-fill"></i>Listado</a>
                            </li>
                            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/usuarios/crear"><i
                                        class="d-inline-block text-primary p-1 bi bi-person-plus-fill"></i>Crear</a>
                            </li>
                        </ul>
                    </li>
                    <% } %>



            </ul>
            <span>
                <%= usuario.nombreCompleto %>
            </span>
        </div>
    </div>
</nav>