<div class="container my-5 col-md-7 col-lg-8">
    <div class="px-5 pb-0 py-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-md-6">
            <h2 class="fw-bold lh-1 text-body-emphasis mb-3">Editar Usuario</h2>
        </div>
        <hr class="hr" />
        <div class="mt-4" id="formulario-editar-usuario">
            <form name="usuario" action="/usuarios/editar/<%= usuario.id %>" method="POST">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" value="<%= usuario.nombre%>" required />
                    </div>
                    <div class="col-6 mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" value="<%= usuario.apellido%>"
                            required />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input disabled type="email" class="form-control" name="email" required
                        value="<%= usuario.email%>" />
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="password" class="form-label">Nueva Contrase単a</label>
                        <input type="password" class="form-control" name="pass" required />
                    </div>
                    <div class="col-6 mb-3">
                        <label for="pass2" class="form-label">Repetir Contrase単a</label>
                        <input type="password" class="form-control" name="pass2" required />
                    </div>
                </div>

                <!-- <div class="row">
					<div class="col-6 mb-3">
						<label for="newPassword" class="form-label">Contrase単a Nueva</label>
						<input
							type="password"
							class="form-control"
							name="password"
							required
						/>
					</div>
					<div class="col-6 mb-3">
						<label for="newPassword2" class="form-label">Repetir Contrase単a</label>
						<input
							type="password"
							class="form-control"
							name="password2"
							required
						/>
					</div> -->
        </div>
        <button type="submit" class="w-100 btn btn-primary mt-3">
            Guardar
        </button>
        </form>
    </div>
</div>
</div>