<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/login_styles.css">
    <title> CSS Login Screen Tutorial </title>
</head>

<body>

    <body>
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h3>LOGIN</h3>
                        <p>Ingrese sus credenciales</p>
                    </div>
                </div>
                <form class="login-form" action="/auth/login" method="post">
                    <input type="text" placeholder="email" name="email" />
                    <input type="password" placeholder="password" name="pass" />
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </body>
</body>

</html>